<header>
  <div class="left-content">
    <a href="/">
      <img src="assets/levos.svg" />
      <h1>Levos</h1>
    </a>
  </div>
  <div class="content">
    <app-search></app-search>
    <div class="right-content">
      <ul>
        <li><img id="quotes" src="assets/icons/quote-right-solid.svg" /></li>
        <li><img id="youtube" src="assets/icons/yt.svg" /></li>
        <li><img id="instagram" src="assets/icons/instagram.svg" /></li>
        <li><img id="facebook" src="assets/icons/facebook.svg" /></li>
        <!-- <li><img id="discord" src="./assets/icons/discord.svg" /></li> -->
      </ul>
    </div>
  </div>
  <div class="menu-btn"><i class="fa fa-bars" (click)="openNav()"></i></div>
</header>
<nav class="sidenav" id="sidenav">
  <ul class="sidebar-menu">
    <li>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        ><i class="fa fa-xmark"></i
      ></a>
    </li>
    <li><app-search></app-search></li>
    <li><img id="quotes" src="assets/icons/quote-right-solid.svg" /></li>
    <li><img id="youtube" src="assets/icons/yt.svg" /></li>
    <li><img id="instagram" src="assets/icons/instagram.svg" /></li>
    <li><img id="facebook" src="assets/icons/facebook.svg" /></li>
  </ul>
</nav>
