<header>
  <div class="left-content">
    <a href="/">
      <img src="assets/levos.svg" />
      <h1>Levos</h1>
    </a>
  </div>
  <div class="content">
    <app-search></app-search>
    <div class="right-content">
      <ul>
        <li><i id="quotes" class="fa fa-quote-right"></i></li>
        <li><i id="youtube" class="fa-brands fa-youtube"></i></li>
        <li><i id="instagram" class="fa-brands fa-instagram"></i></li>
        <li><i id="facebook" class="fa-brands fa-facebook"></i></li>
        <li><i id="download" (click)="openNameDialog()" class="fa fa-download"></i></li>
      </ul>
    </div>
  </div>
  <div class="menu-btn" (click)="toggleNav()">
    <i class="fa fa-bars"></i>
  </div>
</header>
<nav class="sidenav" [class.open]="isNavOpen">
  <ul class="sidebar-menu">
    <li>
      <a href="javascript:void(0)" class="closebtn" (click)="toggleNav()">
        <i class="fa fa-xmark"></i>
      </a>
    </li>
    <li><i id="quotes" class="fa fa-quote-right"></i></li>
    <li><i id="youtube" class="fa-brands fa-youtube"></i></li>
    <li><i id="instagram" class="fa-brands fa-instagram"></i></li>
    <li><i id="facebook" class="fa-brands fa-facebook"></i></li>
    <li><i id="download" (click)="openNameDialog()" class="fa fa-download"></i></li>
  </ul>
</nav>
<app-author-dialog (closeDialogEvent)="closeNameDialog()" #authorDialog></app-author-dialog>
