<header>
  <div class="left-content">
    <a href="/">
      <img src="assets/levos.svg" />
      <h1>Levos</h1>
    </a>
  </div>
  <div class="content">
    <app-search></app-search>
    <div class="right-content">
      <ul>
        <li><i id="quotes" class="fa fa-quote-right"></i></li>
        <li><i id="youtube" class="fa-brands fa-youtube"></i></li>
        <li><i id="instagram" class="fa-brands fa-instagram"></i></li>
        <li><i id="facebook" class="fa-brands fa-facebook"></i></li>
        <!-- <li><i id="discord" class="fa-brands fa-discord"></i></li> -->
      </ul>
    </div>
  </div>
  <div class="menu-btn">
    <i class="fa fa-bars" (click)="openNav()"></i>
  </div>
</header>
<nav class="sidenav" id="sidenav">
  <ul class="sidebar-menu">
    <li>
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        ><i class="fa fa-xmark"></i
      ></a>
    </li>
    <li><i id="quotes" class="fa fa-quote-right"></i></li>
    <li><i id="youtube" class="fa-brands fa-youtube"></i></li>
    <li><i id="instagram" class="fa-brands fa-instagram"></i></li>
    <li><i id="facebook" class="fa-brands fa-facebook"></i></li>
    <!-- <li><i id="discord" class="fa-brands fa-discord"></i></li> -->
  </ul>
</nav>
