header {
  background-color: #c41616;
  background-image: linear-gradient(45deg, #c41616, black);
  font-size: 1.05em;
  padding: 0.5em;
  margin-bottom: 1em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.left-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.left-content img {
  padding: 0.5em;
  height: 2em;
  object-fit: contain;
}

.left-content h1 {
  font-family: "Grizzly", serif;
  text-transform: uppercase;
  user-select: none;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  align-items: center;
}

.right-content ul {
  display: flex;
  justify-content: flex-end;
  padding: 0.2em;
  margin: 0;
  list-style: none;
}

.right-content li {
  padding: 0.5em;
}

i {
  font-size: 2em;
  line-height: 2em;
  padding-left: .5em;
  padding-right: .5em;
  color: #fff;
  cursor: pointer;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
  }
  h1 {
    display: none;
  }
  .right-content {
    display: none;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  margin-top: 2em;
}

.sidenav.open {
  width: 250px;
  max-width: 75vw;
}

.sidenav .sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidenav .sidebar-menu li {
  padding: 8px 8px 8px 16px;
  text-align: center;
}

.sidenav .sidebar-menu li i {
  font-size: 2em;
  color: #fff;
}
