.title {
  text-align: center;
}

.title h2 {
  font-family: "Grizzly", serif;
  text-transform: uppercase;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loading img {
  max-width: 50vw;
  max-height: 50vh;
  animation: rotation 2s infinite linear;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
#modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  /* text-align: center; */
}

.modal-close {
  color: #000;
  font-weight: bold;
  text-align: center;
}

i {
  margin-left: 50vw;
  margin-right: 50vw;
  margin-top: 10px;
}

#modal-inner {
  max-height: 75vh;
  overflow: auto;
  max-width: 900px;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep #modal-content p {
  max-width: 900px;
  margin: 1rem auto;
  font-size: 12pt;
  /* margin-left: 5%; */
  /* text-indent: 0 !important; */
  line-height: 130%;
  /* margin-right: 5%; */
  /* max-width: 900px; */

  text-align: justify;
}

:host ::ng-deep #modal-content p.noind {
  text-indent: 0 !important;
}

.subtitle {
  font-weight: bold;
  color: var(--clr-black);
  line-height: 120%;
  text-align: center;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

H2 {
  font-weight: bold;
  font-size: 18pt;
  /* background: none transparent scroll repeat 0% 0%; */
  margin-left: 36px;
  color: #330000;
  line-height: 120%;
  margin-right: 36px;
  text-align: center;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #c41616;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

A:link {
  color: #000;
  text-decoration: none;
}

A:visited {
  color: #000;
  text-decoration: none;
}

A:hover {
  color: #c41616;
  text-decoration: underline;
}

A:active {
  color: #c41616;
  text-decoration: underline;
}

@media print {
  .buttons {
    display: none;
  }
}