.title {
  text-align: center;
  margin-bottom: 4rem;
}

.subtitle {
  font-weight: bold;
  color: var(--clr-black);
  line-height: 120%;
  text-align: center;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

H2 {
  font-weight: bold;
  font-size: 18pt;
  background: none transparent scroll repeat 0% 0%;
  margin-left: 36px;
  color: #330000;
  line-height: 120%;
  margin-right: 36px;
  text-align: center;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: #c41616;
  margin-left: auto;
  margin-right: auto;
}
