<div class="title">
  <h2>
    <a [href]="book.link">{{ book.title }}</a>
  </h2>
  <div class="subtitle">{{ book.subtitle }}</div>
  <div *ngIf="book.author">
    <hr />
  </div>
  <div class="subtitle" *ngFor="let author of book.author.split(', ')">
    {{ author }}
  </div>
  <div class="underline"></div>
</div>
<ng-container *ngIf="!isItCit; else citElement">
  <ng-container *ngIf="!isItPCT; else anotherElement">
    <app-book-toc [book]="book"></app-book-toc>
  </ng-container>

  <!-- Content to display when isItPCT is true -->
  <ng-template #anotherElement>
    <!-- Replace this with your desired content -->
    <app-book-content [book]="book" [id]="id"></app-book-content>
  </ng-template>
</ng-container>
<ng-template #citElement>
  <!-- Replace this with your desired content -->
  <app-quotes [citate]="book.citate" [id]="cit" [book]="book"></app-quotes>
</ng-template>
