<section class="container">
  <button (click)="onButtonClick()" class="expand-btn" id="{{ title }}">
    <span [innerHTML]="title"></span>&nbsp;<i class="fa fa-caret-down" [ngClass]="{ 'open': ok, 'closed': !ok }"></i>
  </button>
</section>
<div *ngIf="ok" id="content{{ title }}">
  <ng-container *ngIf="getBooks(author) as booksX">
    <div *ngFor="let book of booksX">
      <!-- {{ book.title }} -->
      <div [id]="getIdentifier('texts', book, author)">
        <app-text-search-content
          [idntf]="getIdentifier('texts', book, author)"
          [book]="book"
          [author]="author"
        ></app-text-search-content>
      </div>
      <div [id]="getIdentifier('cit', book, author)">
        <app-cit-search-content
          [idntf]="getIdentifier('cit', book, author)"
          [book]="book"
          [author]="author"
        ></app-cit-search-content>
      </div>
    </div>
  </ng-container>
</div>
