<div class="buttons">
  <div id="synthZone{{ text.idChr }}"></div>
  <audio id="audio{{ text.idChr }}" src=""></audio>
  <!-- <div id="boldZone{{ text.idChr }}">
    <app-button
      [id]="getBoldID()"
      [title]="getBold()"
    ></app-button>
  </div> -->
</div>
<p *ngIf="book.title.includes('Antologia') || book.title.includes('Anthology')">
  &nbsp;
</p>
<table
  *ngIf="text.info"
  style="width: 30%; margin-left: auto; margin-right: auto"
>
  <tbody>
    <tr>
      <td style="text-align: center; color: gray">~</td>
      <td style="width: 75%; text-align: center; color: gray">
        {{ text.info }}
      </td>
      <td style="text-align: center; color: gray">~</td>
    </tr>
  </tbody>
</table>
<p *ngIf="text.image">&nbsp;</p>
<img
  *ngIf="text.image"
  class="profile"
  src="assets/profiles/{{ text.image }}.svg"
/>
<p *ngIf="text.image">&nbsp;</p>

<app-actual-text
  [idChr]="text.idChr"
  [content]="text.content"
  [book]="book"
></app-actual-text>
<hr />
<div style="color: gray" id="notes">
  <app-actual-text [content]="getNotes()" [book]="book"></app-actual-text>
</div>
