<div class="antologii">
<app-book *ngFor="let bookX of antologiiList" [book]="bookX"></app-book>
</div>

<div class="capitalul">
<app-book *ngFor="let bookX of capitalulList" [book]="bookX"></app-book>
</div>


<div class="teorii">
<app-book *ngFor="let bookX of teoriiList" [book]="bookX"></app-book>
</div>


<div class="content">
<app-book *ngFor="let bookX of contentList" [book]="bookX"></app-book>
</div>

<div class="mao">
<app-book *ngFor="let bookX of maoList" [book]="bookX"></app-book>
</div>