<app-center>
  <app-expanded-button title="TOC">
    <app-book-toc [book]="book"></app-book-toc>
  </app-expanded-button>
  <main>
    <p>&nbsp;</p>
    <div id="part" *ngIf="part">
      {{ part.title }}
    </div>
    <h4 id="titlu" *ngIf="chapter">
      {{ chapter.title }}
    </h4>
    <div class="subtitle" *ngIf="chapter">
      {{ chapter.subtitle }}
    </div>
    <div id="author" *ngIf="chapter">
      {{ chapter.author != '' ? chapter.author : book.author }}
    </div>
    <div id="info" *ngIf="chapter">
      <app-actual-text [content]="chapter.description"></app-actual-text>
    </div>
    <div *ngIf="texts">
      <app-book-button *ngFor="let text of texts" [text]="text" [ok]="text.idChr == id.substring(1) ? true : false">
        <app-text-content [text]="text" [book]="book"></app-text-content>
      </app-book-button>
    </div>
    <div class="review">
      <div class="button-container">
        <button class="prev-btn">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="next-btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
      <button class="random-btn" *ngIf="book.title.includes('Antologia') || book.title.includes('Anthology')">
        <i class="fa fa-random"></i> Surprinde-mă
      </button>
      <div></div>
      <button class="expand-btn" id="cuprins">
        <i class="fa fa-book"></i> Cuprins
      </button>
      <!-- <div></div> -->
      <!-- <button class="expand-btn" id="citate">
        <i class="fa fa-quote-right"></i> Citate din scrierile lui Marx și
        Engels
      </button> -->
      <div></div>
      <button class="expand-btn" id="home">
        <i class="fa fa-home"></i> Levos Homepage
      </button>
    </div>
  </main>
</app-center>
