/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

@font-face {
  font-family: "Vollkorn";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Vollkorn-Regular.ttf");
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #ff0000;
  --clr-primary-2: #ff4124;
  --clr-primary-3: #ff6140;
  --clr-primary-4: #ff7b5a;
  /* primary/main color */
  --clr-primary-5: #c41616;
  /* lighter shades of primary color */
  --clr-primary-6: #ffa98f;
  --clr-primary-7: #ffbfaa;
  --clr-primary-8: #ffd5c6;
  --clr-primary-9: #ffeae2;
  --clr-primary-10: #ffffff;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Vollkorn", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

body>main *,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body>main {
  font-family: var(--ff-secondary);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

body>main>*a {
  text-decoration: none;
}

h1,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h2 {
  -webkit-tap-highlight-color: transparent;
  --clr-primary-1: #ff0000;
  --clr-primary-2: #ff4124;
  --clr-primary-3: #ff6140;
  --clr-primary-4: #ff7b5a;
  --clr-primary-5: #c41616;
  --clr-primary-6: #ffa98f;
  --clr-primary-7: #ffbfaa;
  --clr-primary-8: #ffd5c6;
  --clr-primary-9: #ffeae2;
  --clr-primary-10: #ffffff;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Vollkorn", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  HYPHENS: auto;
  word-wrap: break-word;
  letter-spacing: var(--spacing);
  margin-bottom: 0.75rem;
  margin-top: 1.25rem;
  FONT-WEIGHT: bold;
  FONT-SIZE: 18pt;
  BACKGROUND: none transparent scroll repeat 0% 0%;
  MARGIN-LEFT: 36px;
  COLOR: #330000;
  LINE-HEIGHT: 120%;
  MARGIN-RIGHT: 36px;
  FONT-FAMILY: "font.otf", serif;
  TEXT-ALIGN: center;
}

h2 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-family: var(--ff-secondary);
}

h1,
h3,
h4 {
  text-transform: capitalize;
}

h1 {
  font-size: 3rem;
}

/* h2 {
  font-size: 2rem;
} */
h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

body>main p {
  margin-bottom: 1.25rem;
  color: black;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

body>main {
  min-height: 100vh -50px;
  display: grid;
  place-items: center;
  margin: 1em;
}


body>main p#titlu>A:link {
  COLOR: #c41616;
  text-decoration: underline;
}

body>main p#titlu>A:visited {
  COLOR: #c41616;
  text-decoration: underline;
}



body>main p#titlu>A:hover {
  text-decoration: underline;
}

body>main p#titlu>A:active {
  text-decoration: underline;
}



/*
=============== 
Reviews
===============
*/

body>main .title {
  text-align: center;
  margin-bottom: 4rem;
}

.underline {
  margin-top: 1em;
  height: 0.25rem;
  width: 5rem;
  background: rgb(234, 72, 72);
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 80vw;
  max-width: var(--fixed-width);
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.review:hover {
  box-shadow: var(--dark-shadow);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  pointer-events: none;
}

#person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #000000;
  color: var(--clr-white);
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #c41616;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

#author {
  margin-bottom: 0.25rem;
}

#an {
  letter-spacing: var(--spacing);
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
}

#titlu {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #c41616;
  font-size: 0.85rem;
  font-family: var(--ff-secondary);
}

#info {
  margin-bottom: 0.75rem;
}

body>main blockquote {
  /* margin-right: 10%; */
  margin-left: 20%;
  margin-bottom: 1.25rem;
  text-align: right;
  color: #686868;
}

.prev-btn,
.next-btn,
.save {
  color: #c41616;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover,
.save:hover {
  color: #970000;
}

.random-btn,
.expand-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: #c41616;
  padding: 0.25rem 0.5rem;
  /* text-transform: capitalize; */
  border-radius: var(--radius);
  transition: var(--transition);
  font-family: var(--ff-primary);
  border-color: #c41616;
  cursor: pointer;
  user-select: none;
}

.random-btn:hover,
.expand-btn:hover {
  background: #c41616;
  color: white;
}