<table style="width: 50%; margin-left: auto; margin-right: auto">
  <tbody *ngIf="cits">
    <tr *ngFor="let citat of cits">
      <td>
        <span style="text-align: center"
          ><div>
            <a
              href="{{book.link}}/?cit={{ getId(citat) }}"
              id="CIT{{ getId(citat) }}"
              [innerHTML]="getTitle(citat)">
              </a
            >
          </div>
          <div id="cit{{ getId(citat) }}"></div>
          <hr style="width: 30%"
        /></span>
      </td>
    </tr>
  </tbody>
</table>
