.expand-btn {
  margin-top: 0.5rem;
  color: #c41616;
  background: white;
  padding: 0.25rem 0.5rem;
  /* text-transform: capitalize; */
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  border-color: #c41616;
  cursor: pointer;
  user-select: none;
}

.expand-btn:hover {
  background: #c41616;
  color: white;
}

.container {
  display: block;
  text-align: center;
}

.fa-caret-down {
  transition: transform 0.3s ease;
}

.fa-caret-down.open {
  transform: rotate(180deg);
}

.fa-caret-down.closed {
  transform: rotate(0deg);
}

.smooth-content {
  overflow: visible;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.smooth-content.retracted {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
