@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

h2 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-family: var(--ff-secondary);
}

:host ::ng-deep h1,
h3,
h4 {
  text-transform: capitalize;
}

:host ::ng-deep h1 {
  font-size: 3rem;
}

:host ::ng-deep /* h2 {
  font-size: 2rem;
} */
h3 {
  font-size: 1.25rem;
}

:host ::ng-deep h4 {
  font-size: 0.875rem;
}

:host ::ng-deep body > main p {
  margin-bottom: 1.25rem;
  color: black;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  :host ::ng-deep h2 {
    font-size: 2.5rem;
  }

  :host ::ng-deep h3 {
    font-size: 1.75rem;
  }

  :host ::ng-deep h4 {
    font-size: 1rem;
  }

  :host ::ng-deep body {
    font-size: 1rem;
  }

  :host ::ng-deep h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

:host ::ng-deep blockquote {
  /* margin-right: 10%; */
  margin-left: 20%;
  margin-bottom: 1.25rem;
  text-align: right;
  color: #686868;
}

:host ::ng-deep .section {
  padding: 5rem 0;
}

:host ::ng-deep .section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

:host ::ng-deep body > main {
  min-height: 100vh -50px;
  display: grid;
  place-items: center;
  margin: 1em;
}

:host ::ng-deep p#titlu A:link {
  color: #c41616;
  text-decoration: underline;
}

:host ::ng-deep p#titlu A:visited {
  color: #c41616;
  text-decoration: underline;
}

:host ::ng-deep p#titlu A:hover {
  text-decoration: underline;
}

:host ::ng-deep p#titlu A:active {
  text-decoration: underline;
}

:host ::ng-deep .title {
  text-align: center;
  margin-bottom: 4rem;
}

:host ::ng-deep #save-zone h4#author, p#an, div#info {
  color: #000;
}

:host ::ng-deep #save-zone {
  background-color: #fff;
}

:host ::ng-deep .underline {
  margin-top: 1em;
  height: 0.25rem;
  width: 5rem;
  background: rgb(234, 72, 72);
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep .container {
  width: 80vw;
  display: contents;
  text-align: center;
}

:host ::ng-deep section {
  display: contents;
}

:host ::ng-deep .quote {
  background: var(--clr-white);
  max-width: 620px;
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin: 0 auto;
  text-align: center;
}

:host ::ng-deep .quote:hover {
  box-shadow: var(--dark-shadow);
}

:host ::ng-deep .manyImg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-basis: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
}

:host ::ng-deep .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  /* cursor: pointer; */
}

:host ::ng-deep .person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  position: relative;
}

:host ::ng-deep .img-container::after {
  content: "\f10e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #000;
  color: white;
}

:host ::ng-deep .img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #c41616;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

:host ::ng-deep #author {
  margin-bottom: 0.25rem;
}

:host ::ng-deep #an {
  letter-spacing: var(--spacing);
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
}

:host ::ng-deep #titlu {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #c41616;
  font-size: 0.85rem;
  font-family: var(--ff-secondary);
}

:host ::ng-deep #info {
  margin-bottom: 0.75rem;
}

:host ::ng-deep .prev-btn,
.next-btn,
.save, .citl {
  color: #c41616;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

:host ::ng-deep .prev-btn:hover,
.next-btn:hover,
.save:hover, .citl:hover {
  color: #970000;
}

:host ::ng-deep .random-btn,
.expand-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: #c41616;
  padding: 0.25rem 0.5rem;
  /* text-transform: capitalize; */
  border-radius: var(--radius);
  transition: var(--transition);
  font-family: var(--ff-primary);
  border-color: #c41616;
  cursor: pointer;
  user-select: none;
}

:host ::ng-deep .random-btn:hover,
.expand-btn:hover {
  background: #c41616;
  color: white;
}

@media print {
  #buttons {
    display: none;
  }

  :host ::ng-deep p#titlu A:link {
    color: #c41616;
    text-decoration: none;
  }

  :host ::ng-deep p#titlu A:visited {
    color: #c41616;
    text-decoration: none;
  }

  :host ::ng-deep p#titlu A:hover {
    text-decoration: none;
  }

  :host ::ng-deep p#titlu A:active {
    text-decoration: none;
  }
}
