@font-face {
  font-family: "Vollkorn";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/Vollkorn-Regular.ttf");
}

@font-face {
  font-family: "Grizzly";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/itc-grizzly.otf");
}
/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Vollkorn";
}

html {
  scroll-behavior: smooth;
}

div#search {
  display: flex;
  /* display: inline-block; */
  overflow-x: hidden;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  max-width: 25vw;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Vollkorn", sans-serif;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* --max-width: 1170px; */
  /* --fixed-width: 620px; */
}
