<div>
  <section class="container">
    <button
      (click)="onButtonClick()"
      class="expand-btn"
      id="{{ text.idChr }}"
    >
     <span [innerHTML]="getInnerHTML()"></span>&nbsp;<i class="fa fa-caret-down" [ngClass]="{ 'open': ok, 'closed': !ok }"></i>
  </button>
  </section>
  <div class="smooth-content" [class.retracted]="!ok" id="content{{ text.idChr }}">
    <ng-content></ng-content>
    <button class="top" (click)="scrollToTop()">
      <i class="fa-solid fa-chevron-up"></i>
    </button>
  </div>
</div>
